bash/.extra
bin/composer-completion.bash
bin/git-completion.bash
bin/wp-completion.bash
git/.gitconfig.local
/composer/.composer
!composer/.composer/composer.json
!composer/.composer/config.json
gemini/*
!gemini/GEMINI.md
nano-syntax-highlighting